*~
atlassian-ide-plugin.xml
bin
CONTRIBUTING.html
RELEASE_PROCEDURE.html
helloworld-gwt/src/main/gwt-unitCache
helloworld-gwt/src/main/webapp/HelloWorldApp
helloworld-gwt/src/main/webapp/WEB-INF/deploy
helloworld-errai/src/main/gwt-unitCache
helloworld-errai/src/main/webapp/HelloWorldApp
helloworld-errai/src/main/webapp/WEB-INF/deploy
MANIFEST.MF
out
target
.classpath
.clover
.DS_Store
.errai
.factorypath
.gitkeep
.idea
.metadata
.nbattrs
.openshift
.project
.settings
.tern-project
.faces-config.xml.faceside
.faces-config.xml.jsfdia
*/.gitignore
/helloworld-jsp
*.ipr
*.iws
*.iml
*.log
*.swp
!/wicket-war/src/main/resources/META-INF/MANIFEST.MF

