.classpath
.project
target
.settings
.DS_Store
.faces-config.xml.jsfdia
MANIFEST.MF
.idea
*.iml
bin
.openshift
*/.gitignore
.gitkeep
/helloworld-jsp
README.html
CONTRIBUTING.html
transaction.log
*.symbolMap
gwt-unitCache
helloworld-gwt/src/main/webapp/HelloWorldApp
helloworld-gwt/src/main/webapp/WEB-INF/deploy/HelloWorldApp
