/* Editor */
.dijitRtl .nihilo .dijitEditorIcon {
    background-image: url('images/editor_rtl.gif'); /* editor icons sprite image */
}

.dijitRtl .nihilo .dijitDisabled .dijitEditorIcon {
    background-image: url('images/editorDisabled_rtl.gif'); /* editor icons sprite image */
}

/* Toolbar */

.dijitRtl .nihilo .dijitToolbar .dijitToolbarSeparator {
    background-image: url('images/editor_rtl.gif');
}
