.info-icon {
	background: url("../img/glyphicons/png/glyphicons_195_circle_info.png")
		no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.home-icon {
	background: url("../img/home.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.plus-icon {
	background: url("../img/plus.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.view-icon {
	background: url("../img/view.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.refresh-icon {
	background: url("../img/refresh.svg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.close-icon {
    background: url("../img/cancel.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.dual-brand {
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	width: 90%;
}

img {
	max-width: 100%;
}

.content {
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 4rem;
	color: white;
}

.info-overlay {
	width: 84%;
	margin: 8%;
	text-align: left;
	background: #595b5b;
}

.centerize {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.navigation-bar-right {
	display: inline;
	float: right;
}

.close-button {
	display: inline;
    float: right;
    margin-top: -18px;
    margin-right: -8px;
}

.note {
	position: absolute;
	bottom: 4rem;
	left: 5px;
}

.bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding-top: 5px !important;
}

fieldset {
	border: none;
}

fieldset legend {
	color: white;
}

.messages {
	list-style-type: none;
}

.messages>li {
	margin-left: -30px;
}

.success {
	color: green;
	font-size: small;
}

.error {
	color: red;
	font-size: small;
}

fieldset label {
	display: block;
	color: white;
}

fieldset .error {
	display: block;
}

.grid .label {
	background-color: black;
	color: white;
	width: 70px;
	padding: 2px;
	float: left;
	margin-left: -2px;
}

.grid .entry {
	margin-bottom: 20px;
}

.grid .row {
	border: 1px dotted #ccc;
	margin-bottom: 2px;
}

.grid .value {
	background-color: white;
	color: black;
	margin-left: 74px;
	padding: 2px;
}

.refresh {
	margin-bottom: 2px;
}

