<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			${connection.driver_class}
		</property>
		<property name="hibernate.connection.url">
			${connection.url}
		</property>
		<property name="packagesToScan">org.jboss.as.quickstarts.hibernate_search.model.data</property>
		<property name="hibernate.connection.username">${connection.username}</property>
		<property name="hibernate.connection.password">${connection.password}</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">false</property>
		<property name="dialect">${connection.dialect}</property>
		<!-- <property name="hibernate.hbm2ddl.auto">create-drop</property> 
		<property name="hibernate.hbm2ddl.import_files">jbossashibernatesearch.sql</property> -->

		<!--<property name="hibernate.search.default.directory_provider">filesystem</property> 
			<property name="hibernate.search.default.indexBase">C:\lucene\indexes</property> -->

		<property name="hibernate.search.default.directory_provider">infinispan</property>
		<property name="hibernate.search.lucene_version">LUCENE_35</property>
		<!-- <property name="hibernate.search.infinispan.configuration_resourcename">
			${infinispan.configuration_resourcename}
		</property> -->
		<property name="hibernate.search.analyzer">org.apache.lucene.analysis.standard.StandardAnalyzer</property>

		<property name="key2StringMapperClass">org.infinispan.lucene.LuceneKey2StringMapper</property>
		
		
<!-- If using Hibernate, add to your hibernate.cfg.xml -->
<!-- <property name="hibernate.cache.region.factory_class">org.hibernate.cache.infinispan.JndiInfinispanRegionFactory</property> -->
 <property name="hibernate.cache.infinispan.cachemanager">ejb</property> 
		
		<!-- <property name="hibernate.search.infinispan.cachemanager_jndiname">java:jboss/infinispan/HibernateSearch</property> -->
		<!-- <property name="hibernate.search.infinispan.configuration_resourcename">hibernatesearch-infinispan.xml</property> -->
        <property name="hibernate.search.infinispan.chunk_size">40960</property>
        <property name="hibernate.search.default.exclusive_index_use">true</property>
		
		<!-- <property name="annotatedClasses"> &lt;!&ndash;<list>&ndash;&gt; &lt;!&ndash;<value>org.jboss.as.quickstarts.hibernate_search.model.data.SequenceBean</value>&ndash;&gt; 
			&lt;!&ndash;</list>&ndash;&gt; &lt;!&ndash;<value>org.jboss.as.quickstarts.hibernate_search.model.data</value>&ndash;&gt; 
			</property> -->
		<!-- Mapping files -->
		<!--<mapping resource="user.hbm.xml"></mapping> -->

	</session-factory>
</hibernate-configuration>