/* Editor */
.dijitRtl .soria .dijitEditorIcon {
    background-image: url('images/editor_rtl.gif'); /* editor icons sprite image */
}

.dijitRtl .soria .dijitDisabled .dijitEditorIcon {
    background-image: url('images/editorDisabled_rtl.gif'); /* editor icons sprite image */
}

/* Toolbar */
.dijitRtl .soria .dijitToolbar .dijitToolbarSeparator {
    background-image: url('images/editor_rtl.gif');
}
