<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Feed Reader</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- <script src="lib/angular/angular.js"></script>
   <script src="js/app.js"></script>
   <script src="js/controllers.js"></script>
   <script src="js/filters.js"></script>
   <script src="js/services.js"></script>
   <script src="lib/angular/angular-resource.js"></script>-->


    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <!--<script src="~/Scripts/underscore.js"></script>-->

    <script>

        angular.module("feedApp", ["feedService"]);

        angular.module('feedService', ['ngResource']).
                factory('Feed', function($resource){
                    return $resource('rest/feedReader/feeds', {}, {
                        /*query: {method: 'GET', isArray: true}*/

                        query:   {method:'GET',           isArray : true},
                        get:     {method:'GET',  params:{id : 'id'},          isArray : false},
                        save:    {method:'POST', isArray : false},
                        update:  {method:'PUT',   isArray : false},
                        delete:  {method:'DELETE', isArray : false}
                    });
                });

        /*angular.module("feedService", ["ngResource"]).
         factory("Feed", function ($resource) {
         return $resource(
         "/rest/feedReader/feeds/:id",
         {id: "@@id" },
         { "update": {method:"PUT"} }
         );
         });*/

        var FeedController = function ($scope ,Feed) {

            //$scope.feeds = Feed.query();

            var createFeed = function (newFeed) {
                newFeed.$save();
                $scope.feeds.push(newFeed);
            };

            var updateFeed = function(feed) {
                feed.$update();
            };

            $scope.showEdit = function () {
                $scope.isEditVisible = true;
                $scope.editableFeed = new Feed();
            };

            $scope.saveFeed = function (feed) {
                $scope.isEditVisible = false;
                if (feed.id) {
                    updateFeed(feed);
                }
                else {
                    createFeed(feed);
                }
            };

            $scope.editFeed = function (feed) {
                $scope.isEditVisible = true;
                $scope.editableFeed = feed;
            };

            $scope.deleteFeed = function (feed) {
                feed.$delete();
                //$scope.feeds = _.without($scope.feeds, feed);
            };

            $scope.isEditVisible = false;
            $scope.feeds = Feed.query();
        };

    </script>
</head>
<body>

<div ng-app="feedApp" ng-controller="FeedController">

    <table>
        <thead>
        <th>url</th>
        <th>title</th>
        <th></th>
        </thead>
        <tbody>
        <tr data-id="{{feed.id}}" ng-repeat="feed in feeds">
            <td>{{feed.url}}</td>
            <td>{{feed.title}}</td>
            <td>
                <button ng-click="editFeed(feed)">Edit</button>
                <button ng-click="deleteFeed(feed)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <button ng-click="showEdit()">Create Feed</button>

    <div ng-show="isEditVisible">
        <hr />
        <form>
            <input type="hidden" ng-model="editableFeed.id" />
            <label>url:</label>
            <input type="text" ng-model="editableFeed.url" required />
            <label>title</label>
            <input type="text" ng-model="editableFeed.title"/>
            <input type="submit" value="Save" ng-click="saveFeed(editableFeed)" />
        </form>
    </div>

</div>

</body>
</html>
