#tbl_accounts {
    width: 500px;
    border-width: 1px;
    border-style: outset;
    border-color: black;
    border-collapse: separate;
}

#tbl_accounts th {
    border-width: 1px;
    padding: 1px;
    border-color: black;
}

#tbl_accounts tr {
    border-width: 1px;
    padding: 1px;
    border-color: black;
}

#tbl_accounts td {
    border-width: 1px;
    padding: 1px;
    border-style: solid;
    border-color: black;
}