<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
    <!-- 
        We define the Security Interceptor
        According to CDI spec 1.0 (9.5. Interceptor resolution) 
        "An interceptor is bound to a method if: [....] 
        The interceptor is enabled in the bean archive containing the bean." -->
    <interceptors>
        <class>org.apache.deltaspike.security.impl.extension.SecurityInterceptor</class>
    </interceptors>
</beans>